@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #1495fe;
  --primary-color-dark: #2334f4;
  --text-dark: #111827;
  --text-light: #505254;
  --white: #ffffff;
  background-color: #75efed7c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

body {
  font-family: "Roboto", sans-serif;
}

.container.header{
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-right: auto;
}

.nav__logo img{
  position: relative;
  margin-right: auto;
  width: 275px;
  height: 125px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap:2rem;
}

.link a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.section {
  padding: 0 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.content h1 {
  margin-bottom: 2rem;
  margin-top: none;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.content h1 span {
  font-weight: 400;
}

.content h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.75rem;
  font-size: 18px;
}

.image {
  position: relative;
  text-align: center;
  isolation: isolate;
}

.image img {
  width: 100%;
  margin-left: 100px;
  max-width: 475px;
  border-radius: 50%;
  border: 10px solid white;
  transition: transform 0.3s;
}

.image img:hover{
  transform: scale(1.05);
}

.container2 {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.image-link {
  text-decoration: none;
  text-align: center;
  color: black;
}

.clickable-image {
  margin-top: 50px;
  width: 350px; 
  height: 350px;
  border: 2px solid #333;
  border-radius: 8px;
  transition: transform 0.3s;
}

.clickable-image:hover {
  transform: scale(1.05);
}

.title{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}


@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .section {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .section {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    text-align: center;
  }

  .image {
    grid-area: 1/1/2/2;
  }
}









































/*.image__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  background-color: var(--primary-color);
  border-radius: 100%;
  z-index: -1;
}*/

/*.image__content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image__content__1 {
  transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image__content__1 span {
  padding: 10px 12px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: #defcf4;
  border-radius: 100%;
}

.image__content__1 h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.image__content__1 p {
  color: var(--text-light);
}

.image__content__2 {
  transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image__content__2 ul {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.image__content__2 li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--text-light);
}

.image__content__2 span {
  font-size: 1.5rem;
  color: var(--primary-color);
}
*/
